h1 {
    color: rgb(255, 255, 255);
}

.containar  {
    background-color: rgba(255, 255, 255, 0.244);
    text-align: center;
    height: 400px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    padding: 80px 10px;
    backdrop-filter: blur(3px);
    border: 1px solid rgb(255, 255, 255);
 }
 body {
  background-color: black;
  background: url(../img/6767.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
 }
.login-button {
    border: 2px solid rgb(255, 255, 255);
    display: inline;
    background: rgba(133, 133, 133, 0.571);
    color: rgb(255, 255, 255);
    padding: 5px 20px ;
    font-size: 20px;
    border-radius: 30px;
    backdrop-filter: blur(3px);
}
.login-button:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  transition:1s;
} 
.Loginpage {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 1px solid;
  margin-bottom: 10px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  padding: 5px 20px;
  color: rgb(255, 255, 255);
}
.dibu{
  margin: 10px 10px;
  color: rgb(255, 255, 255);
}
a {
  color: brown;
}
.remamber {
  display: inline;
 padding-right: 20px;
 color: rgb(255, 255, 255);
}
div p {
  display: inline;
  padding-right: 80px;
}
.tutu{
  display: inline;
  padding-right: 120px;
}
.ry {
  padding-top: 20px;
}
.yiyi {
  color: rgb(255, 255, 255);
}
.gigi {
  padding-right: 80px;
}
